<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Windows\Temp\libhello.dll4662486059511461065" />
        <option name="userMacSet">
          <set>
            <option value="1714169BB313" />
            <option value="7C-67-A2-67-F3-72" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>